.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 16px;
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	color: var(--bg-foreground);
	width: 100%;
}

.card > h1 {
	font-family: var(--font-quick-sand);
	font-weight: bold;
}

.card  h2 {
	display: flex;
	gap: 0.5rem;
	font-family: var(--font-outfit);
}

.card > h3 {
	font-size: 1.1rem;
	font-family: var(--font-outfit);
	align-self: flex-end;
}

.mainCard > h1 {
	font-size: 3rem;
}

.mainCard > h2 {
	font-size: 3.5rem;
}

.subCard > h1 {
	font-size: 1.7rem;
}

.subCard > h2 {
	font-size: 2rem;
}

.mainCard {
	background-color: var(--accent-green);
	width: 100%;
	min-height: 100%;
}

.subCard {
	background-color: var(--accent-blue);
}

.accountCard {
	height: 100%;
	padding: 0.8rem 1rem;
	background-color: var(--accent-red);
}

.accountCard > h1 {
	font-size: 1.3rem;
}

.accountCard > h2 {
	font-size: 1.2rem;
}

.accountCard > div {
	display: flex;
	justify-content: space-between;
}


