@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #181622;
	--head-foreground: #000;
	--input-background: rgb(235, 231, 231);
	--bg-foreground: #fff;
	--card-background: #fff;
	--accent-red: #f28b82;
	--accent-blue: #aecbfa;
	--accent-green: #a8d5ba;
	--accent-yellow: #fddfaf;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-outfit: var(--font-outfit);
	--font-quick-sand: var(--font-quick-sand);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #000;
		--foreground: #ededed;
		--card-background: #181622;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
