.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0.5rem 1rem;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container button {
	background-color: var(--accent-red);
	color: var(--bg-foreground);
	border-radius: 16px;
	padding: 0.5rem 1rem;
	width: fit-content;
	align-self: flex-end;
}

.container h1 {
	font-family: var(--font-quick-sand);
	font-weight: bold;
	font-size: 2rem;
	color: var(--accent-blue);
}

.container > .navigationButton {
	display: flex;
	font-size: 1.2rem;
	gap: 1rem;
	border-radius: 1rem;
	padding: 0.2rem 0.3rem;
	font-family: var(--font-outfit);
	transition: background-color 0.1s ease-in-out;
}

.container > .navigationButton:hover,
.active {
	background-color: var(--accent-blue);
	color: var(--bg-foreground);
}
