.container {
	padding: 1rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: 250px 1fr;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	background-color: var(--card-background);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	position: absolute;
	width: 60%;
	height: 90vh;
	border-radius: 16px;
}
