#modalContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	background-color: var(--card-background);
}

.header {
	font-size: 1.8rem;
	text-align: center;
	color: var(--head-foreground);
}

.navigation {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	background-color: var(--input-background);
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
}

.navigation > button {
	font-family: var(--font-quick-sand);
	color: var(--foreground);
	font-weight: 700;
	width: 100%;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.navigation > :nth-child(1):hover,
.navigation > :nth-child(1).active {
	background-color: rgb(150, 26, 26);
	color: var(--bg-foreground);
}

.navigation > :nth-child(2):hover,
.navigation > :nth-child(2).active {
	background-color: rgb(18, 161, 18);
	color: var(--bg-foreground);
}

.navigation > :nth-child(3):hover,
.navigation > :nth-child(3).active {
	background-color: rgb(26, 102, 195);
	color: var(--bg-foreground);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form label {
	color: var(--head-foreground);
}

.form > div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form input {
	margin-top: 0.5rem;
	display: block;
	width: 100%;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	outline: none;
}

.form input[type='number'] {
	-moz-appearance: textfield;
	appearance: textfield;
	background-color: var(--input-background);
}

.selector {
	margin-top: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--input-background);
	padding: 1rem;
	width: 100%;
	color: var(--foreground);
}

.description {
	margin-top: 0.5rem;
	border: 1px solid grey;
	border-radius: 0.5rem;
	padding: 1rem;
	width: 100%;
	outline: none;
}

.saveButton {
	padding: 0.5rem 1rem;
	width: 100%;
	background-color: var(--accent-green);
	color: var(--bg-foreground);
	border-radius: 0.5rem;
	transition: background-color 0.1s ease-out;
}

.saveButton:hover {
	background-color: var(--accent-blue);
}
